/*初始化 start*/
*{
	margin:0;
	padding:0;
}
a{
	color:rgb(85,85,85);
	text-decoration: none;
}
a:hover{
	color:rgb(146,36,22);
}
ul{
	margin:0;
	padding:0;
	list-style-type: none;
}
/*初始化 end*/


/*头部start*/
#header{
	width:1440px;
	height:174px;
	border-bottom:2px solid rgb(160,32,25);
}

#head-list1{
	width:100%;
	height:30px;
	background-color: rgb(237,237,237);
}
#positions{
	position:absolute;
	left:115px;
	width: 95px;
	height:30px;
	font-size: 10px;
	line-height: 30px;
	color:rgb(85,85,85);
}
#head-list11{
	position: absolute;
	right:115px;
	width: 800px;
	height:30px;
}
#head-list11 ul li{
	float:left;
	font-size: 10px;
	color:rgb(85,85,85);
	line-height: 30px;
	margin-left: 24px;
}
#head-main{
	position: relative;
	width: 1210px;
	right:115px;
	left:115px;
	height:100px;
}
#head-main img{
	float: left;
	margin:20px 100px 20px 0;
}
#head-main input{
	margin-top: 25px;
	width: 455px;
	height:35px;
	border:2px solid rgb(163,38,38);
}
#head-main button{
	position: relative;
	right:7px;
	bottom:39px;
	width:80px;
	height: 39px;
	color:white;
	font-size: 15px;
	border:2px solid rgb(163,38,38);
	background-color: rgb(163,38,38);
}
#serach-list ul li{
	float:left;
	font-size: 10px;
	color:rgb(138,138,138);
	margin-right: 6px;
	letter-spacing: 1px;
	margin-top: 5px;
}
#mybuy{
	position: absolute;
	right:100px;
	top:25px;
	width:110px;
	height:35px;
	background-color: rgb(247,247,247);
	border:1px solid rgb(215,215,215);
	line-height: 35px;
	text-align: center;
	color:rgb(138,138,138);
	font-size: 10px;

}
#head-list2{
	width: 100%;
	height:44px;
}
#head-list2 dl{
	position: absolute;
	left:115px;
	border:0;
}
#head-list2 dl dt{
	float: left;
	width:210px;
	height:44px;
	line-height: 44px;
	font-size: 15px;
	text-indent: 10px;
	color:white;
	background-color: rgb(146,36,32);

}
#head-list2 dl dd{
	float: left;
	font-size: 15px;
	color: rgb(89,89,89);
	line-height: 44px;
	text-align: center;
	width:110px;
}
/*head头部 end*/


/*左边按钮 start*/
#left-btn{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	width:6px;
	background-color:rgb(102,91,91);
}
#square-top{
	position: absolute;
	left:-26px;
	top:340px;
	background-color: white;
}
#square-bottom{
	position: absolute;
	left:-26px;
	bottom:0;
	background-color: white;
}
.square{
	right:0;
	width:26px;
	height:35px;
	margin-top: 1px;
	border-radius: 3px 0 0 3px;
	background-color: rgb(102,91,91);
	
}
/*左边按钮 end*/


/*内容部分 main start*/
#main{
	position:relative;
	left:115px;
	right:115px;
	width: 1210px;
}

/*focus start*/
#focus{
	position: relative;
	width:100%;
	height:466px;
}
#focus-left ul{
	float: left;
}
#focus-left ul li{
	width:210px;
	height: 31px;
	line-height: 31px;
	color:white;
	background-color: rgb(163,38,38);
}

#focus-middle{
	position: absolute;
	top:10px;
	left:220px;
	float: left;
	width: 730px;
	height:454px;
}
#focus-right{
	position: absolute;
	top:10px;
	right:0;
	width:210px;
	height: 456px;
	
}
#jdnows{
	border:1px solid rgb(200,200,200); 
}
#jdnows dt{
	width:100%;
	height: 33px;
	color:rgb(89,89,89);
	font-size: 15px;
	text-indent: 10px;
	line-height: 33px;
	border-bottom: 1px solid rgb(200,200,200);
}
#jdnows dt small{
	float: right;
	margin-right: 20px;
}
#jdnows dd{
	width:100%;
	height: 24px;
	color:rgb(89,89,89);
	font-size: 10px;
	line-height: 24px;
	margin-left: 10px;
}
#nine ul{
	position: absolute;
	border-left:1px solid rgb(200,200,200);
}
#nine ul li{
	float: left;
	height:70px;
	width:51.25px;
	border-right:1px solid rgb(200,200,200);
	border-bottom:1px solid rgb(200,200,200);
}
#binner img{
	position: absolute;
	width:100%;
	height: 75px;
	right:0;
	bottom:0;
}
.ads1{
	width:100%;
	height:160px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.ads1-pic1{
	float: left;
}
.ads1 ul li{
	float: left;
	width:249px;
	height: 164px;
	margin-right: 1px;
}
.ads1 ul li img{
	width:249px;
	height:162px;
}
/*focus end*/
.ads2{
	width:100%;
	height:40px;
	margin-top: 10px;
	padding:13px 0;
	background-color:rgb(245,245,245);
}
/*猜你喜欢guess start*/

#guess{
	position: relative;
	width:100%;
	min-height:200px;
}

.main-title{
	width:100%;
	height:36px;
}
.main-title h2{
	float: left;
	width: 308px;
	line-height: 36px;
	font-size: 18px;
	font-weight: normal;
	color: rgb(89,89,89);
}
.main-title a{
	float:right;
	line-height: 36px;
	margin-right: 30px;
	font-size: 12px;
}
#guess ul{
	padding-top: 20px;
	width:1210px;
	height: 230px;
	border:1px solid rgb(138,138,138);
}
#guess ul li{
	float: left;
	padding-bottom: 15px;
	width:201px;
	height: 201px;
}

.guess-img{
	text-align: center;
}
.guess-img img{
    margin-bottom: 10px;
}
.guess-info{
	width:129px;
	height:61px;
	padding:0 36px;
}
.guess-info a{
	font-size: 12px;
	line-height: 18px;
	color:#666;
}
.guess-price{
	margin-top: 6px;
	text-align:left;
	font-size: 18px;
	color:#b51d1a;
}
/*猜你喜欢 guess end*/
#lift{
	position: relative;
	width:100%;
	height:400px;
	border:1px solid green;
}
#cloth{
	position: relative;
	width:100%;
	height:200px;
	border:1px solid green;
}
#phone{
	position: relative;
	width:100%;
	height:200px;
	border:1px solid green;
}
#sale{
	position: relative;
	width:100%;
	height:200px;
	border:1px solid green;
}

/*内容部分 main end*/ 


/*底部内容 footer stare*/
#footer{
	position: relative;
	width:100%;
	height:200px;
	border:1px solid navy;
}
/*底部内容 footer end